{% extends "base.twig" %}

{% block content %}

  <div id="hero" style="background-image: url('{{TimberImage(post.get_field('img_entete')).src}}');">

    <div id="titre-de-page">
      <h1>{{ post.title }}</h1>
    </div>

  </div>

  <div class="container-ambiances">

    <ul>

      <li><a href="#">Ambiance 1</a></li>
      <li><a href="#">Ambiance 2</a></li>
      <li><a href="#">Ambiance 3</a></li>
      <li><a href="#">Ambiance 4</a></li>
      <li><a href="#">Ambiance 5</a></li>
      <li><a href="#">Ambiance 6</a></li>

    </ul>

  </div>

  <div class="container-creations">

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <a href="#">
        <div class="creation-infos centre-absolu">
          <h2>MAISON BAPTISTE & MAUD</h2>
          <p>20 décembre 2016</p>
        </div>
      </a>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

    <div class="creation" style="background-image: url('http://placehold.it/320x320');">
      <div class="creation-infos centre-absolu">
        <h2>MAISON BAPTISTE & MAUD</h2>
        <p>20 décembre 2016</p>
      </div>
    </div>

  </div>


{% endblock %}
