{% extends "base.twig" %}

{% block content %}

  <div id="hero" style="background-image: url('{{TimberImage(post.get_field('img_entete')).src}}');">
    <div id="titre-page">
      <h1>{{ post.title }}</h1>
    </div>
  </div>

{% endblock %}
