{% extends "base.twig" %}

{% block content %}

  <div id="hero" style="background-image: url('{{TimberImage(post.get_field('img_entete')).src}}');">
    <div id="titre-page">
      <h1>{{ post.title }}</h1>
    </div>
  </div>

  <div class="wrapper-page">

    <div id="ambiances">
      <ul>
        <li><a href="#">Ambiance 1</a></li>
        <li><a href="#">Ambiance 2</a></li>
        <li><a href="#">Ambiance 3</a></li>
        <li><a href="#">Ambiance 4</a></li>
        <li><a href="#">Ambiance 5</a></li>
        <li><a href="#">Ambiance 6</a></li>
      </ul>
    </div>

    <div id="liste-creations">

      <div class="creation" style="background-image: url('http://placehold.it/320x250')">
        <div class="infos">
          <div class="titre"><a href="#">Lorem ipsum dolor sit amet consectetur</a></div>
          <div class="date"><a href="#">20 décembre 2016</a></div>
        </div>
      </div>

      <div class="creation" style="background-image: url('http://placehold.it/320x250')">
        <div class="infos">
          <div class="titre"><a href="#">Lorem ipsum dolor sit amet consectetur</a></div>
          <div class="date"><a href="#">20 décembre 2016</a></div>
        </div>
      </div>

      <div class="creation" style="background-image: url('http://placehold.it/320x250')">
        <div class="infos">
          <div class="titre"><a href="#">Lorem ipsum dolor sit amet consectetur</a></div>
          <div class="date"><a href="#">20 décembre 2016</a></div>
        </div>
      </div>


    </div>

  </div>


{% endblock %}
